{% extends "page.html" %}

{% block subtitle %}{{ _('Login') }}{% endblock %}

{% block pre_primary %}
  <section class="module">
    <div class="module-content">
        <h1 class="page-heading">NHS England Sign In</h1>
        <p>For employees of NHS England, click the NHS Login button below to
        sign in with your <em>username@england.nhs.uk</em> account.</p>
        <p><a class="btn btn-primary" href="{{ h.adfs_authentication_endpoint() }}">NHS Sign In</a></p>
    </div>
  </section>
  <section class="module">
    <div class="module-content">
      <h2 class="page-heading">External Login</h2>
      {% block form %}
        {% snippet "user/snippets/login_form.html", action=c.login_handler, error_summary=error_summary %}
      {% endblock %}
    </div>
  </section>
  {% if h.check_access('user_create') %}
    <section class="module module-narrow module-shallow">
      <h2 class="module-heading">{{ _('Need an Account?') }}</h2>
      <div class="module-content">
        <p>{% trans %}If you don't work for NHS England, then sign right up,
        it only takes a minute. (If you <em>do</em> work for NHS England use
        the NHS Sign In button.){% endtrans %}</p>
        <p class="action">
          <a class="btn" href="{{ h.url_for(controller='user', action='register') }}">{{ _('Create an Account') }}</a>
        </p>
      </div>
    </section>
  {% endif %}

  <section class="module module-narrow module-shallow">
    <h2 class="module-heading">{{ _('Forgotten your password?') }}</h2>
    <div class="module-content">
      <p>{% trans %}If you don't work for NHS England, use our password
      recovery form to reset it.{% endtrans %}</p>
      <p class="action">
        <a class="btn" href="{{ h.url_for(controller='user', action='request_reset') }}">{{ _('Forgot your password?') }}</a>
      </p>
    </div>
  </section>
{% endblock %}

