{% ckan_extends %}

{% block primary_content %}
  <article class="module">
    <div class="module-content">
      {% block primary_content_inner %}
        {% set label_text = "Log in for " + g.new_page_title %}
        <section aria-label="{{ label_text }}">
          <h1 class="page-heading">{{ g.new_page_header}}</h1>
          <p>
            {{ g.new_page_description}}
            If it does not work for you, <a href="/contact">contact the Open Data team</a> for alternate account instructions.
          </p>
          <a class="btn btn-primary" href="/user/login">Go to {{ g.login_button_name }}</a>
        </section>
        <hr>
        <section aria-label="Registration for external users">
          <h1 class="page-heading">{{ _('External Users') }}</h1>
          <p>{{ _('Register for an Account') }}</p>
          {{ c.form | safe }}
        </section>
      {% endblock %}
    </div>
  </article>
{% endblock %}
